@use '../utils/' as utils;

/* Header */
.header{
    background-color: transparent;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
    
    .container{
        max-width: 1140px;
        height: 70px;
        padding: 0 15px;
        margin: 0 auto;
        @include utils.row-between;

    }
    &__logo-link{
        color: utils.$var-white;
        text-decoration: none;
        font-weight: 700;
        @include utils.nunito-24;
        span{
            color: utils.$var-yellow;


        }
    }
}



/* End of Header */